<div class="lang-wrapper d-flex align-items-center gap-2 mt-2">
  <img src="{{ fn('asset_url', 'en.png') }}" alt="EN" height="32" width="32" class="lang-flag">
  <select class="lang-select" onchange="window.location.href = this.value">
    <option value="{{ site.url ~ '/en' }}" selected>EN</option>
    <option value="{{ site.url }}">AR</option>
  </select>
</div>
